name: E2E Tests

on: 
  workflow_dispatch:
    inputs:
      base_url:
        description: 'Escolha o ambiente de sua preferência (local, homolog, production)'
        required: true
        default: 'http://localhost:3000'
      browser:
        description: 'Escolha o navegador de sua preferência'
        required: true
        default: 'chrome'

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
        with:
          start: npm start
          browser: ${{ github.event.inputs.base_url }}
      
      - name: Upload Screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-screenshots-chrome
          path: cypress/screenshots

      - name: Upload videos
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos-chrome
          path: cypress/videos

